App_WebReferences/SelectServiceServiceReference1/SelectServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SelectServiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50343/SelectServiceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50343/SelectServiceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50343/SelectServiceService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50343/SelectServiceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISelectServiceService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShows" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenues" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetShowByVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowByVenue" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetShowByVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowByVenueResponse" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetShowByArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowByArtist" />
  </wsdl:message>
  <wsdl:message name="ISelectServiceService_GetShowByArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowByArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="ISelectServiceService">
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectServiceService/GetArtists" message="tns:ISelectServiceService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectServiceService/GetArtistsResponse" message="tns:ISelectServiceService_GetArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectServiceService/GetShows" message="tns:ISelectServiceService_GetShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectServiceService/GetShowsResponse" message="tns:ISelectServiceService_GetShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectServiceService/GetVenues" message="tns:ISelectServiceService_GetVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectServiceService/GetVenuesResponse" message="tns:ISelectServiceService_GetVenues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowByVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectServiceService/GetShowByVenue" message="tns:ISelectServiceService_GetShowByVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectServiceService/GetShowByVenueResponse" message="tns:ISelectServiceService_GetShowByVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowByArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelectServiceService/GetShowByArtist" message="tns:ISelectServiceService_GetShowByArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelectServiceService/GetShowByArtistResponse" message="tns:ISelectServiceService_GetShowByArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISelectServiceService" type="tns:ISelectServiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/ISelectServiceService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShows">
      <soap:operation soapAction="http://tempuri.org/ISelectServiceService/GetShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenues">
      <soap:operation soapAction="http://tempuri.org/ISelectServiceService/GetVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowByVenue">
      <soap:operation soapAction="http://tempuri.org/ISelectServiceService/GetShowByVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowByArtist">
      <soap:operation soapAction="http://tempuri.org/ISelectServiceService/GetShowByArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelectServiceService">
    <wsdl:port name="BasicHttpBinding_ISelectServiceService" binding="tns:BasicHttpBinding_ISelectServiceService">
      <soap:address location="http://localhost:50343/SelectServiceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>